.ui.borderless.top.menu{
  box-shadow: none;
  border: none;
}

.ui.borderless.middle.menu {
  background-color: rgba(139, 0, 0, 1);

}

.footer-background {
  background-color: rgba(139, 0, 0, 1);
  color: white;
  padding-top:25px;
  padding-bottom:25px;
}
