.ui.borderless.top.menu{
  box-shadow: none;
  border: none;
}

.ui.middle.menu {
  font-size: 16px;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  text-align: center;
  height:50px;
  border-radius: 0;
  background-color: rgba(139, 0, 0, 1);
}

.footer-background {
  background-color: rgba(139, 0, 0, 1);
  color:#FFFFFF;
  font-size: 11px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 500px;
  padding-right: 500px;
}
